@{
    ViewData["Title"] = "Home Page";
}


<div class="ui vertical stripe segment" id="add">
    <div class="ui middle aligned grid container">
        <div class="row">
            <h3 class="ui header">Join the Pod</h3>
        </div>
        <div class="equal width row">
            <div class="ui text container left floated column">
                <p>Need new friends to queue up with? Fill out a form to be added to the roster and be found by fellow fins. Happy gaming! </p>
            </div>
            <div class="left floated column">
                <div class="ui card">
                    <div class="content">
                        <img class="ui massive avatar image floated right" src="~/images/man_in_glasses.png" />
                        <div class="header">Tyler Hartwig</div>
                        <div class="meta">Dallas</div>
                        <div class="ui move reveal">
                            <div class="visible content" style="min-height:300px">
                                <div class="ui top attached blue label">
                                    Usernames
                                </div>
                                <div class="ui hidden divider"></div>
                                <div class="ui middle aligned list">
                                    <div class="item">
                                        <img class="ui avatar image" src="~/images/steam.png" />
                                        <div class="content">Steam</div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="~/images/Psn.png" />
                                        <div class="content">PSN</div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="~/images/xbox.png" />
                                        <div class="content">Xbox Live</div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="~/images/Battle.png" />
                                        <div class="content">Battle.net</div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="~/images/Discord.png" />
                                        <div class="content">Discord</div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="~/images/Nintendo.png" />
                                        <div class="content">Nintendo Switch</div>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden content" style="min-height:300px">
                                <div class="ui vertical segment">
                                    <div class="content">
                                        <div class="ui attached blue label">About Me</div>
                                        <p> <br />All about me!</p>
                                    </div>
                                </div>
                                <div class="ui vertical segment">
                                    <div class="ui attached blue label">Favorite Games</div>
                                    <p><br />League of Legends</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button" id="add-btn">Add Yourself</a>
                <!--Modal starts here-->
                @using (Html.BeginForm("Create", "Fins"))
                {
                <div class="ui modal" id="modal">
                    <div class="ui icon header">
                        Fill gaming information
                    </div>
                    <div class="ui equal width form" style="padding-left: 1em;padding-right: 1em;padding-bottom: 0.2em;padding-top: 0.2em">
                        <div class="fields">
                            <div class="field">
                                <label>Name</label>
                                <input name="name" type="text" placeholder="Name">
                            </div>
                            <div class="field">
                                <label>Email** (All Lowercase)</label>
                                <input name="email" type="email" placeholder="Email">
                            </div>
                            <div class="field">
                                <label>Office</label>
                                <input name="office" type="text" placeholder="Office">
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field">
                                <label>PlayStation</label>
                                <input name="psn" type="text" placeholder="Playstation">
                            </div>
                            <div class="field">
                                <label>Xbox</label>
                                <input name="xbox" type="text" placeholder="Xbox">
                            </div>
                            <div class="field">
                                <label>Nintendo</label>
                                <input name="nintendo" type="text" placeholder="Nintendo">
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field">
                                <label>Steam</label>
                                <input name="steam" type="text" placeholder="Steam">
                            </div>
                            <div class="field">
                                <label>League of Legends</label>
                                <input name="league" type="text" placeholder="League of Legends">
                            </div>
                            <div class="field">
                                <label>Origin</label>
                                <input name="origin" type="text" placeholder="Origin">
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field">
                                <label>Discord</label>
                                <input name="discord" type="text" placeholder="Discord">
                            </div>
                            <div class="field">
                                <label>Battle.net</label>
                                <input name="battle" type="text" placeholder="Battle.net">
                            </div>
                            <div class="field">
                                <label>Twitch</label>
                                <input name="twitch" type="text" placeholder="Twitch">
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field">
                                <label>About Me</label>
                                <input name="about_me" type="text" placeholder="About Me">
                            </div>
                            <div class="field">
                                <label>Favorite Games</label>
                                <input name="favorite_games" type="text" placeholder="Favorite Games">
                            </div>
                        </div>
                    </div>
                    <h5 style="text-align:center">**No spam, just for usage of Gravitar!</h5>
                    <div class="actions">
                        <div class="ui button" id="cancel-btn">
                            <i class="remove icon"></i>
                            Cancel
                        </div>
                        <button class="ui primary button" id="submit-btn" type="submit">
                            <i class="checkmark icon"></i>
                            Submit
                        </button>
                    </div>
                </div>
                }
            </div>

                <!--Modal ends here-->
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>